.search-crypto{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 1rem;
}
.search ::placeholder{
    /* border: 1px solid red;
    border-radius: 10px; */
    text-align: center;
}
.router_link {
    color: white;
    text-decoration: none;
}
.news_searchbar{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}