.navbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    line-height: 3rem;
    min-height: 100vh;
    position: fixed;
    width: 19vw;
    background-color: rgb(0, 21, 41);
    color: white;
}
.menu {
    line-height: 3;
    /* background-color: red; */
}
.menu_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 19vw;
    height: 8vh;
}
.menu_image {
    margin-left: 1rem;
    /* width: 1vw; */
}
.menu_title {
    margin-left: 1rem;
    /* font-size: 1rem; */
    /* width: 2vw; */
}
.menu_item:hover {
    /* background-color: grey; */
    color: red;
    transition: ease-in-out 0.2s;
}
.header {
    display: flex;
    margin-top: 1vh;
    width: 19vw;
    height: 10vh;
}
.header_title {
    margin-left: 2rem;
    font-size: 1rem;
}
.header_logo {
    margin-left: 1vw;
}
.break {
    background-color: red;
    width: 19vw;
    height: 0.5vh;
}
.menu_itembackground {
    background-color: grey;
}
.router_link {
    color: white;
    text-decoration: none;
}
.row{
    display: flex;
}
@media all and (max-width: 700px) {
    .menu_title,
    .header_title {
        display: none;
        width: 0vw;
    }
    .navbar {
        display: none;
        width: 0vw;
    }
}
