.App {
    display: flex;
    /* flex-direction: column; */
    /* background: rgb(248, 244, 244); */
}
.navBar {
    width: 19vw;
}
.screen {
    width: 78vw;
    margin-left: 1vw;
   
}
@media all and (max-width: 700px) {
  .navBar{
    width: 0vw;
  }
  .screen{
    width: 100vw;
    /* margin-left: 1vw; */
  }
}
