.App {
    display: flex;
    /* flex-direction: column; */
    /* background: rgb(248, 244, 244); */
}
.navBar {
    width: 19vw;
}
.screen {
    width: 78vw;
    margin-left: 1vw;
}
.footer {
    background-color: #001529;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    align-items: center;
    width: 79.72vw;
    margin-left: -1vw;
    padding-bottom: 10vh;
    padding-top: 10vh;
    margin-top: 10vh;
    /* position: fixed; */
}
.router_link {
    color: white;
    text-decoration: none;
}
.mobile {
    display: none;
}

@media all and (max-width: 700px) {
    .navBar {
        width: 0vw;
    }
    .screen,
    .footer {
        width: 100%;
        /* margin-left: 1vw; */
    }
    .mobile {
        display: flex;
        width: 100vw;
        background-color: rgb(0, 21, 41);
        color: ivory;
        height: 10vh;
        top: 0;
        z-index: 1;
        position: fixed;
        /* margin-bottom: 20vh; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .App{
      display:inherit;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .screen{
      margin-top: 10vh;
      margin-left: 0vw;
    }
}
